

body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

.pantalla-dividida {
    display: flex;
}

.derecha {
    background: #E6E2C7;
    width: 70%;
}

.izquierda {
    background: #BC383F;
    width: 30%;
    color:#E6E2C7
}

img {
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
}

h1 {
    text-align: center;
    font-size: 350%;
    color: #7E262B;
    font-family: 'Aboreto', cursive;
}

h4 {
    position: relative;
    margin-left: 50px;
}

h3 {
    text-indent: 30px;
}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    }

.titulo {
    background-color: #7E262B;
    color: #E6E2C7;
}



