

body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

.pantalla-dividida {
    display: flex;
}

.derecha {
    background: #E6E2C7;
    width: 70%;
    height: 100vh;
}

.izquierda {
    background: #BC383F;
    width: 30%;
    height: 100vh;
    color:#E6E2C7
}

img {
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.celular .mail{
    position: relative;
    left: 100px;
    
}

i {
    color: #E6E2C7;
    font-size: 20px;
    position left: 50px;
    margin: 0px 50px 0px 100px;
}

.email {
    display: flex;
    align-items: center;
}

.cel {
    display: flex;
    align-items: center;
}
.titulo {
    background-color: #7E262B;
    color: #E6E2C7;
}

